@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', Arial, Tahoma, Verdana, sans-serif;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 38px;
    cursor: pointer;
    text-decoration: none;
    background: #F2F2F2;
}

#article {
    height: 1080px;
    display: block;
    margin-right: 110px;
    margin-left: 273px;
    background: #FFFFFF;
}

#menu {
    width: 188px;
    height: 1080px;
    display: block;
    color: #777777;
    margin-left: 110px;
    float: left;
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    padding: 20px 0px 0px 47px;
}

#header {
    height: 63px;
    width: 100%;
}

#footer {

}

.icons {
    width: 17px;
    height: 17px;
    filter: alpha(Opacity=50);
    opacity: 0.5;
    padding-right: 6px;
}
.card-image {
    width: 150px;
    height: 200px;
    margin-bottom: 1px;
    border-radius: 10px;
}
.card-fi{
    float: left;
    width: 154px;
    margin-left: 20px;
    margin-right: 3px;
}
.card {
    float: left;
    width: 154px;
    margin-right: 3px;
}
.card-title {
    font-size: x-small;
    font-weight: 500;
    margin-bottom: 1px;
    line-height: 5px;
    margin-top: 1px;
}
  .card-text {
    font-size: 16px;
    line-height: 1px;

}
.bot {
    float: both;
}
.headfilm {
    text-indent: 20px;
}

.pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
}